
#fondoa{
  background-color: rgb(13, 161, 7) !important;
  color: aliceblue;
  border-radius: 5px;
  text-decoration: underline;

}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 10px;

}
.video-container video {
  position: absolute;
  top: 50;
  left: 50;
  width: 100%;
  height: 100%;

  
}

.video-container2 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 50;
  overflow: hidden;
  border-radius: 10px;

}
.video-container2 video {
  position: absolute;
  top: 50;
  left: 50;
  width: 100%;
  padding: 0%;

  
}

#pasca{
  border-radius: 10px !important;
  height: 900px;
}

/* COLORES PARA LOS BACKGROUNDS DE CADA SECCIÓN */
#s-secretary {
  background-color: antiquewhite;
  height: fit-content;
}

#s-about { 
  background-color: rgb(255, 255, 255);
}



#letter{
  font-family: cursive;
}